.app {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 100px;
  gap: 80px;
  max-width: 1600px;
  margin: 0 auto;
}

.left,
.right {
  flex: 1;
  max-width: 550px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  padding-top: 20px;
  min-width: 420px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-image {
  width: 250px;
  height: 200px;
  border-radius: 50%;
  background-image: url('./avatar.png');
  background-size: cover;
  background-position: center;
  border: 3px solid #ffff;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin-block: 6px;
}

.subtitle {
  opacity: 0.7;
  margin-bottom: 30px;
}

h2{
  margin: 30px 0 12px;
  font-size: 22px;
  font-weight: 600;
}

.bar{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 18px 0
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #252525;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.fill {
  height: 100%;
  background: linear-gradient(90deg, #665cff, #ee0979);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
}

.label {
  color: #ffff;
  font-size: 12px;
  font-weight: 600;
  text-shadow: 0px 0px 4px #0000;
}


